<%= form_for(@link, html: { class: "form-inline center margin-t" }) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :given_url, class: "form-control", placeholder: "Enter the link to shorten..." %>
  </div>
  <%= f.submit "Shorten!", class: "btn btn-primary"%>
<% end %>
